{% extends "mail/base.twig" %}

{% block body %}
  <div align="center">您的验证码是</div>
  <h2 align="center" style="margin: 20px">{{ token }}</h2>
  <div align="center">
    <a
      target="_blank"
      href="{{ baseUrl }}/password/reset/{{ token }}?email={{ email | url_encode }}"
      style="display: inline-block; text-decoration: none; width: 300px; height: 50px; line-height: 50px; text-align: center; font-size: 20px; background: #1890ff; border-radius: 5px; color: #fff;"
    >点击这里重置密码</a>
  </div>
  <div style="margin-top: 100px">
    <p align="center">如按钮不能正常显示，请复制以下网址到浏览器打开</p>
    <p align="center">{{ baseUrl }}/password/reset/{{ token }}?email={{ email | url_encode }}</p>
  </div>
{% endblock %}
